.carousel .carousel-indicators button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.d-block {
  padding: 10px;
  margin-left: 260px;
  right: 0px;
  top: 140px;
  width: 70%;
  height: 600px;
  border-radius: 50px;
}